
body {
  background-color: #f1f7fd;

}

#navbar {
  transition: background 0.75s 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  background-color: #3a3845;
}

#navbar a {
  font-size: 1.25rem;
  /* text-transform: uppercase; */
  color: #000000;
  border-bottom: none;
  padding-bottom: none;
  transition: all 0.2s 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#navbar ul a:hover {
 
  /* border-bottom: 1px solid #fff; */
  padding-bottom: 0.5rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 8px;
  min-width: 13.325rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: none;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 13.325rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* @media only screen and (max-width: 538px) {
  button {
    width: 180px;
  }
} */

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(31, 26, 26);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fc5404;
}

.panel {
  background-color: white;
  border-radius: 0.65em;
  padding: 15px 25px;
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;

}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-of-type {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 15px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-button.register {
  font-weight  : 700;
  color: #348efe;
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 20px 0;
  transition: background-color 0.4s 0.1s ease-in-out;
}

.pricing-button.register:hover,
.pricing-button.register:focus {
  background-color: #269aff;
  color: #e1f1ff;
  font-weight: 700;
}

.pricing-button.remove {
  font-weight: 700;
  color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 10px;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 20px 0;
  transition: background-color 0.4s 0.1s ease-in-out;
}

.pricing-button.remove:hover,
.pricing-button.remove:focus {
  background-color: #dc3545;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 800px) {
  body {
    height: 100vh;
  }

  .panel {
    flex-direction: row;
  }

  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }

  .pricing-plan:last-of-type {
    border-bottom: none;
    border-right: none;
    padding: 25px 50px;
  }
}

